<nav
  class="navbar navbar-expand-lg"
  [class.navbar-dark]="themeService.isDarkMode()"
  [class.navbar-light]="!themeService.isDarkMode()"
  [class.bg-dark]="themeService.isDarkMode()"
  [class.bg-light]="!themeService.isDarkMode()"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/books">Bookish</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/books" routerLinkActive="active">
            <fa-icon [icon]="faBook"></fa-icon> {{ languageService.t('books') }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quotes" routerLinkActive="active">
            <fa-icon [icon]="faQuoteLeft"></fa-icon> {{ languageService.t('myQuotes') }}
          </a>
        </li>
      </ul>

      <ul class="navbar-nav">
        @if (isLoggedIn) {
          <li class="nav-item">
            <button class="btn btn-link nav-link" (click)="logout()">
              <fa-icon [icon]="faLogout"></fa-icon> {{ languageService.t('logout') }}
            </button>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <fa-icon [icon]="faLogin"></fa-icon> {{ languageService.t('login') }}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">
              <fa-icon [icon]="faRegister"></fa-icon> {{ languageService.t('register') }}
            </a>
          </li>
        }
        <li class="nav-item d-flex align-items-center mx-2">
          <div class="form-check form-switch d-flex align-items-center mb-0">
            <fa-icon
              [icon]="faSun"
              class="me-1"
              [style.color]="themeService.isDarkMode() ? '#f39c12' : '#fd7e14'"
            ></fa-icon>
            <input
              class="form-check-input mx-1"
              type="checkbox"
              role="switch"
              id="themeSwitch"
              [checked]="themeService.isDarkMode()"
              (change)="themeService.toggleTheme()"
            />
            <fa-icon
              [icon]="faMoon"
              class="me-1"
              [style.color]="themeService.isDarkMode() ? '#adb5bd' : '#495057'"
            ></fa-icon>
          </div>
        </li>
        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            {{ languageService.currentLang() === 'en' ? '🇬🇧 EN' : '🇸🇪 SV' }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" (click)="changeLang('en')">🇬🇧 English</a></li>
            <li><a class="dropdown-item" (click)="changeLang('sv')">🇸🇪 Svenska</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
