<div class="container mt-4">
  <h1>{{ isEditMode ? languageService.t('editBook') : languageService.t('addBook') }}</h1>

  <form (ngSubmit)="onSubmit()" #bookForm="ngForm">
    <div class="mb-3">
      <label for="title" class="form-label">{{ languageService.t('title') }}</label>
      <input
        type="text"
        id="title"
        name="title"
        class="form-control"
        [(ngModel)]="title"
        required
      />
    </div>

    <div class="mb-3">
      <label for="author" class="form-label">{{ languageService.t('author') }}</label>
      <input
        type="text"
        id="author"
        name="author"
        class="form-control"
        [(ngModel)]="author"
        required
      />
    </div>

    <div class="mb-3">
      <label for="publishedDate" class="form-label">{{ languageService.t('publishedDate') }}</label>
      <input
        type="date"
        id="publishedDate"
        name="publishedDate"
        class="form-control"
        [(ngModel)]="publishedDate"
        required
      />
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">{{ languageService.t('bookCoverImage') }}</label>
      <input
        type="file"
        id="image"
        class="form-control"
        accept="image/*"
        (change)="onFileSelected($event)"
      />

      @if (imageUrl) {
        <img [src]="imageUrl" alt="Preview" class="img-thumbnail mt-2" style="max-height: 200px" />
      } @else {
        <div
          class="border rounded d-flex align-items-center justify-content-center mt-2 text-muted"
          style="height: 200px; background-color: #f8f9fa"
        >
          <fa-icon [icon]="faImage" size="3x"></fa-icon>
        </div>
      }
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!bookForm.valid">
      {{ languageService.t('submit') }}
    </button>
  </form>
</div>
